# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# DLLs
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.exe

# Linux executable
chocolate-keen

# Visual Studio
.vs
*.suo
*.sdf
*.opendb
packages/
.user
/build/Visual C++/ChocolateKeen.vcxproj.user
/build/Visual C++/bin
/build/Visual C++/obj

# Commander Keen config files
Releases/Windows-x64/chocolate-keen.cfg
Releases/Windows-x64/CTLPANEL.CK1
Releases/Windows-x64/SCORES.CK1
Releases/Windows-x64/chocolate-keen.cfg
Releases/Windows-x64/CTLPANEL.CK1
Releases/Windows-x64/SCORES.CK1
Releases/Windows-x86/chocolate-keen.cfg
Releases/Windows-x86/CTLPANEL.CK1
Releases/Windows-x86/SCORES.CK1
Releases/Windows-x86/chocolate-keen.cfg
Releases/Windows-x86/CTLPANEL.CK1
Releases/Windows-x86/SCORES.CK1
Releases/Linux/chocolate-keen.cfg
Releases/Linux/CTLPANEL.CK1
Releases/Linux/SCORES.CK1
Releases/Linux/chocolate-keen.cfg
Releases/Linux/CTLPANEL.CK1
Releases/Linux/SCORES.CK1

# GAMEDATA
Releases/Linux/GAMEDATA
Releases/Windows-x64/GAMEDATA
Releases/Windows-x86/GAMEDATA

# build output
build/mingw32/GAMEDATA
build/mingw32/obj
build/mingw32/SDL2.dll
build/mingw-w64/GAMEDATA
build/mingw-w64/obj
build/mingw-w64/SDL2.dll

# WebAssembly output
chocolate-keen.data
chocolate-keen.html
chocolate-keen.js
chocolate-keen.js.orig.js
chocolate-keen.wasm
data.binary

# game config files
CTLPANEL.CK1
CTLPANEL.CK2
CTLPANEL.CK3
SCORES.CK1
SCORES.CK2
SCORES.CK3