# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# DLLs
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.exe

# Linux executable
chocolate-keen

# Visual Studio
.vs
*.suo
*.sdf
*.opendb
packages/
.user
/build/visual_studio/ChocolateKeen.vcxproj.user
/build/visual_studio/bin
/build/visual_studio/obj

# Release package runtime files
releases/linux/chocolate-keen.cfg
releases/linux/CTLPANEL.CK1
releases/linux/SCORES.CK1
releases/linux/GAMEDATA/
releases/windows-x64/chocolate-keen.cfg
releases/windows-x64/CTLPANEL.CK1
releases/windows-x64/SCORES.CK1
releases/windows-x64/GAMEDATA/
releases/windows-x86/chocolate-keen.cfg
releases/windows-x86/CTLPANEL.CK1
releases/windows-x86/SCORES.CK1
releases/windows-x86/GAMEDATA/

# Local build output
build/linux/obj/
build/linux/GAMEDATA/
build/linux/chocolate-keen
build/linux/chocolate-keen.cfg

build/mingw/obj/
build/mingw/GAMEDATA/
build/mingw/SDL2.dll
build/mingw/chocolate-keen*.exe
build/mingw/chocolate-keen*.cfg
build/mingw/*.CK1
build/mingw/*.CK2
build/mingw/*.CK3

build/emscripten/obj/
build/emscripten/chocolate-keen*.html
build/emscripten/chocolate-keen*.js
build/emscripten/chocolate-keen*.wasm
build/emscripten/chocolate-keen*.data
build/emscripten/data.binary

build/vita/obj/
build/vita/dist/
build/vita/chocolate-keen.elf
build/vita/chocolate-keen.velf
build/vita/eboot.bin
build/vita/chocolate-keen-vita.vpk

# WebAssembly output
chocolate-keen.data
chocolate-keen.html
chocolate-keen.js
chocolate-keen.js.orig.js
chocolate-keen.wasm
data.binary
docs/chocolate-keen.data
docs/chocolate-keen.js
docs/chocolate-keen.wasm

# Release artifacts are published via GitHub Releases, not committed
releases/**/*.zip

# game config files
CTLPANEL.CK1
CTLPANEL.CK2
CTLPANEL.CK3
SCORES.CK1
SCORES.CK2
SCORES.CK3
