# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# DLLs
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.exe

# Visual Studio

# Commander Keen config files
Releases/Windows-x64/chocolate-keen.cfg
Releases/Windows-x64/CTLPANEL.CK1
Releases/Windows-x64/SCORES.CK1
Releases/Windows-x64/chocolate-keen.cfg
Releases/Windows-x64/CTLPANEL.CK1
Releases/Windows-x64/SCORES.CK1
Releases/Windows-x86/chocolate-keen.cfg
Releases/Windows-x86/CTLPANEL.CK1
Releases/Windows-x86/SCORES.CK1
Releases/Windows-x86/chocolate-keen.cfg
Releases/Windows-x86/CTLPANEL.CK1
Releases/Windows-x86/SCORES.CK1

# GAMEDATA
Releases/Windows-x64/GAMEDATA
Releases/Windows-x86/GAMEDATA